:root {
  --color-primary: #1b96f3;
  --color-secondary: #10133a;
  --color-primary-transparent: rgba(27, 150, 243, .07);
  --color-white: #ffffff;
  --color-white-transparent: rgba(255, 255, 255, .8);
  --color-gray-light: #f5f5f5;
  --color-gray-light-2: #d3d3d3;
  --color-gray-dark: #707070;
  --font-stack-primary: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-stack-secondary: 'Source Serif Pro', serif; }

/* =================================
  Reset
==================================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  color: var(--color-white-transparent); }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 55.62em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

/* =================================
  Top navigation
==================================== */
.top-nav__link:link, .top-nav__link:visited {
  transition: all .2s; }

.top-nav__link:hover {
  color: var(--color-white); }

/* =================================
  Button
==================================== */
.btn:link,
.btn:visited {
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* =================================
  Bottom navigation
==================================== */
.bottom-nav__link:link, .bottom-nav__link:visited {
  transition: all .2s; }

.bottom-nav__link:hover, .bottom-nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px); }

/* =================================
  Social icons
==================================== */
.header__icon {
  transition: all .2s; }

.header__icon:hover {
  transform: translateY(-0.3rem); }

.header__icon:active {
  transform: translateY(-0.1rem); }

/* =================================
  Body
==================================== */
body {
  font-family: var(--font-stack-primary);
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.9rem; }

/* =================================
  Headings
==================================== */
.heading-2 {
  text-align: center;
  font-size: 3.2rem;
  padding: 3rem; }

.heading-3 {
  font-size: 2.4rem; }

/* =================================
  Text styles
==================================== */
.text {
  font-family: var(--font-stack-secondary); }

/* =================================
  Top navigation
==================================== */
.top-nav__link:link, .top-nav__link:visited {
  text-decoration: none; }

.top-nav__link-box {
  list-style-type: none; }

/* =================================
  Header
==================================== */
.header__icon-container {
  list-style: none; }

/* =================================
  Footer
==================================== */
.copyright {
  font-size: 1.6rem;
  color: var(--color-white-transparent);
  margin: 3rem auto 0 auto;
  text-align: center;
  width: 70%; }

:root {
  --color-primary: #1b96f3;
  --color-secondary: #10133a;
  --color-primary-transparent: rgba(27, 150, 243, .07);
  --color-white: #ffffff;
  --color-white-transparent: rgba(255, 255, 255, .8);
  --color-gray-light: #f5f5f5;
  --color-gray-light-2: #d3d3d3;
  --color-gray-dark: #707070;
  --font-stack-primary: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-stack-secondary: 'Source Serif Pro', serif; }

:root {
  --color-primary: #1b96f3;
  --color-secondary: #10133a;
  --color-primary-transparent: rgba(27, 150, 243, .07);
  --color-white: #ffffff;
  --color-white-transparent: rgba(255, 255, 255, .8);
  --color-gray-light: #f5f5f5;
  --color-gray-light-2: #d3d3d3;
  --color-gray-dark: #707070;
  --font-stack-primary: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-stack-secondary: 'Source Serif Pro', serif; }

/* =================================
  Main grid
==================================== */
.container {
  display: grid;
  grid-template-rows: minmax(5rem, 7vh) minmax(min-content, 50vw) min-content;
  grid-template-columns: [full-start] repeat(8, 1fr) [full-end]; }

/* =================================
  Top navigation
==================================== */
.top-nav {
  background-color: var(--color-secondary);
  grid-column: 1 / -1; }

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .top-nav__link-box {
    display: flex;
    margin: 0 2rem; }
    .top-nav__link-box li:not(:last-child) {
      margin-right: 2rem; }
    .top-nav__link-box li:first-child {
      margin-right: auto; }

/* =================================
  Header
==================================== */
.header__card {
  grid-column: 2 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .header__card {
      grid-column: full-start / full-end;
      padding: 2rem; } }

.header__text-box {
  grid-column: 5 / 8;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .header__text-box {
      grid-column: full-start / full-end;
      text-align: left;
      padding: 2rem; } }

.header__icon {
  width: 4.2rem;
  height: 4.2rem;
  fill: var(--color-primary);
  margin-right: 0.5rem;
  transition: all .2s; }

.header__icon-container {
  height: 100px;
  display: flex;
  justify-content: center; }

.heading-primary--main {
  font-size: 4.2rem;
  display: block; }

.heading-primary--sub {
  display: block;
  font-size: 2.4rem;
  font-weight: 350;
  font-family: var(--font-stack-secondary); }

.heading-secondary--main {
  display: block;
  font-size: 2.4rem; }

.heading-secondary--sub {
  display: block;
  font-weight: 400;
  font-size: 1.9rem;
  color: var(--color-gray-dark);
  text-align: center; }

/* =================================
  Skills
==================================== */
.skills {
  grid-column: full-start / full-end;
  background-color: var(--color-gray-light); }
  .skills__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 6rem;
    align-items: start; }

.skill {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .skill__icon {
    fill: var(--color-primary);
    width: 4.7rem;
    height: 4.7rem;
    grid-row: 1 / span 2; }

/* =================================
  Projects
==================================== */
.projects {
  grid-column: full-start / full-end; }
  .projects__project {
    display: grid;
    grid-template-columns: [full-start] repeat(10, 1fr) [full-end]; }
  .projects__details {
    grid-column: 3 / span 4;
    align-self: center;
    padding: 0 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .projects__details {
        grid-column: full-start / full-end;
        padding: 0 .8rem; } }
  .projects__img {
    grid-column: 7 / full-end;
    max-height: 50rem;
    max-width: 100%;
    justify-self: left; }
    @media only screen and (max-width: 37.5em) {
      .projects__img {
        grid-column: full-start / full-end;
        justify-self: center; } }
  .projects__tags {
    display: flex;
    list-style: none;
    margin: 1.6rem 0; }
    .projects__tags li:not(:last-child) {
      margin-right: 1rem; }

/* =================================
  Footer
==================================== */
.footer {
  background-color: var(--color-secondary);
  grid-column: full-start / full-end;
  padding: 2rem; }

.bottom-nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
  grid-gap: 2rem;
  align-items: center;
  justify-content: center; }
  .bottom-nav__link:link, .bottom-nav__link:visited {
    font-size: 1.9rem;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem;
    display: block; }

/* =================================
  Avatar
==================================== */
.avatar {
  max-height: 20rem;
  max-width: 100%;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  display: block; }

/* =================================
  Button
==================================== */
.btn:link,
.btn:visited {
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 1rem 2rem;
  display: inline-flex; }

.btn__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-white);
  margin-left: .5rem; }

/* =================================
  Tag
==================================== */
.tag {
  background-color: var(--color-primary-transparent);
  color: var(--color-primary);
  padding: .5rem;
  border-radius: 2.4rem;
  font-size: 1.6rem; }

:root {
  --color-primary: #1b96f3;
  --color-secondary: #10133a;
  --color-primary-transparent: rgba(27, 150, 243, .07);
  --color-white: #ffffff;
  --color-white-transparent: rgba(255, 255, 255, .8);
  --color-gray-light: #f5f5f5;
  --color-gray-light-2: #d3d3d3;
  --color-gray-dark: #707070;
  --font-stack-primary: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-stack-secondary: 'Source Serif Pro', serif; }

.padded-section {
  padding: 0 10rem 7rem 10rem; }
  @media only screen and (max-width: 43.75em) {
    .padded-section {
      padding: 0 1rem 7rem 1rem; } }
