:root {
  // COLORS
  --color-primary: #1b96f3;
  --color-secondary: #10133a;

  --color-primary-opacity: rgba(27, 150, 243, .2);

  --color-white: #fff; // white
  --color-gray-light: #f5f5f5; // whitesmoke
  --color-gray-dark: #707070;

  // FONTS
  --font-stack-primary: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-stack-secondary: 'Source Serif Pro', serif;
}
