/* =================================
  Color variables
==================================== */

$color-primary: #1E4D79;
$color-secondary: #1D88B6;

$color-black-1: #2B2B2B;
$color-black-2: #1F1F1F;

$color-white-1: white;
$color-white-2: whitesmoke;

$color-gray: #707070;

/* =================================
  Fonts
==================================== */

$font-primary: proxima-nova, sans-serif;
$font-secondary: 'Merriweather', serif;

/* =================================
  Responsive breakpoints
==================================== */

$bp-large: 75em; // 1200px

