@import "abstracts/variables";
@import "abstracts/mixins";

.card {
  background-color: $color-white-2;

  grid-column: col-start 7 / full-end;

  // Is the width smaller than 900px?
  @include respond(tab-port)  {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding-top: 7rem;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    & > * {
      display: block;
    }
  }
}