@import "abstracts/variables";
@import "abstracts/mixins";

.header {
  background-image: linear-gradient(rgba($color-primary, .95), rgba($color-primary, .95)), -webkit-image-set(
                  url("../img/background@1x.jpg") 1x,
                  url("../img/background@2x.jpg") 2x
  );
  background-size: cover;
  background-position: center;


  grid-column: full-start / col-end 6;

  // Is the width smaller than 900px?
  @include respond(tab-port)  {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 2rem;
  }

  display: flex;
  align-items: center;
  padding: 0 10vw;



  &__text {
    & > * {
      display: block;
    }
  }

}