.container {
  display: grid;
  grid-template-rows: 7vh 50vw min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.top-nav {
  background-color: var(--color-secondary);
  grid-column: full-start / full-end;
}

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__link-box {
    display: flex;
    margin: 0 2rem;
    li:not(:last-child) {
      margin-right: 2rem;
    }

    li:first-child {
      margin-right: auto;
    }
  }
}

.header {
  &__card {

    grid-column: center-start / span 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text-box {
    grid-column: 6 / center-end;
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 4.2rem;
    height: 4.2rem;
    fill: var(--color-primary);
    margin-right: 0.5rem;
  }

  &__icon-container {
    height: 100px;
    display: flex;
    justify-content: center;
  }
}

.heading-primary {
  &--main {
    font-size: 3.2rem;
    display: block;
  }

  &--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 350;
    font-family: var(--font-stack-secondary);
  }
}

.heading-secondary {
  &--main {
    display: block;
  }

  &--sub {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--color-gray-dark);
    text-align: center;
  }
}

// Skills

.skills {
  // Grid child
  grid-column: full-start / full-end;
  background-color: var(--color-gray-light);
  padding: 0 15rem 10rem 15rem;


  &__grid-container {
    // Grid parent
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;


  }





}

.skill {

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: var(--color-primary);
    width: 4.7rem;
    height: 4.7rem;
    grid-row: 1 / span 2;
  }

  &__text {

  }
}





// Projects
.projects {
  // Grid child
  grid-column: full-start / full-end;
  padding: 0 15rem 10rem 15rem;


  &__project {
    display: flex;
    width: 60%;
    margin: 0 auto;
  }



  &__img {
    // FIXME: This needs to be changed.
    height: 50rem;
  }

  &__tags {
    display: flex;
    list-style: none;
    margin: 1.5rem 0;
    li:not(:last-child) {
      margin-right: 1rem;
    }
  }


}

/* =================================
  Footer
==================================== */

.footer {
  background-color: var(--color-secondary);
  grid-column: full-start / full-end;
  padding: 2rem;
}

.bottom-nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;


  &__link:link,
  &__link:visited {
    font-size: 1.9rem;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s;

  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, .05);
    transform: translateY(-3px);

  }

}