@import "../abstracts/variables";

/* =================================
  Main grid
==================================== */

.container {
  display: grid;
  grid-template-rows: minmax(5rem, 7vh) minmax(min-content, 50vw) min-content;
  grid-template-columns: [full-start] repeat(8, 1fr) [full-end];
}

/* =================================
  Top navigation
==================================== */

.top-nav {
  background-color: var(--color-secondary);
  grid-column: 1 / -1;
}

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__link-box {
    display: flex;
    margin: 0 2rem;

    li:not(:last-child) {
      margin-right: 2rem;
    }

    li:first-child {
      margin-right: auto;
    }
  }


}

/* =================================
  Header
==================================== */

.header {
  &__card {
    grid-column: 2 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      grid-column: full-start / full-end;
      padding: 2rem;
    }
  }

  &__text-box {
    grid-column: 5 / 8;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      grid-column: full-start / full-end;
      text-align: left;
      padding: 2rem;

    }
  }

  &__icon {
    width: 4.2rem;
    height: 4.2rem;
    fill: var(--color-primary);
    margin-right: 0.5rem;
    transition: all .2s;
  }

  &__icon-container {
    height: 100px;
    display: flex;
    justify-content: center;
  }
}

.heading-primary {
  &--main {
    font-size: 4.2rem;
    display: block;
  }

  &--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 350;
    font-family: var(--font-stack-secondary);
  }
}

.heading-secondary {
  &--main {
    display: block;
    font-size: 2.4rem;
  }

  &--sub {
    display: block;
    font-weight: 400;
    font-size: 1.9rem;
    color: var(--color-gray-dark);
    text-align: center;
  }
}

/* =================================
  Skills
==================================== */

.skills {
  // Grid child
  grid-column: full-start / full-end;
  background-color: var(--color-gray-light);

  &__container {
    // Grid parent
    display: grid;
    // TODO: Calibrate padded-section and skills grid.
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
  }
}

.skill {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: var(--color-primary);
    width: 4.7rem;
    height: 4.7rem;
    grid-row: 1 / span 2;
  }
}

/* =================================
  Projects
==================================== */

.projects {
  // Grid child
  grid-column: full-start / full-end;


  &__project {
    display: grid;
    // Same 8 column pattern as with the overall website layout.
    grid-template-columns: [full-start] repeat(8, 1fr) [full-end];
  }

  &__details {
    grid-column: 2 / span 4;
    align-self: center;
    padding: 0 1.6rem;

    @media only screen and (max-width: $bp-small) {
      grid-column: full-start / full-end;
      padding: 0 .8rem;
    }

  }

  &__img {
    grid-column: 6 / full-end;
    max-height: 50rem;
    max-width: 100%;
    justify-self: left;

    @media only screen and (max-width: $bp-small) {
      grid-column: full-start / full-end;
      justify-self: center;
    }
  }

  &__tags {
    display: flex;
    list-style: none;
    margin: 1.6rem 0;

    li:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

/* =================================
  Footer
==================================== */

.footer {
  background-color: var(--color-secondary);
  grid-column: full-start / full-end;
  padding: 2rem;
}

.bottom-nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;

  &__link:link,
  &__link:visited {
    font-size: 1.9rem;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem;
    display: block;
  }
}
