.btn:link,
.btn:visited {
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 1rem 2rem;
  display: inline-flex;

  transition: all .2s;

}

.btn:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 2rem rgba(black, .2);


}

.btn:active {
  transform: translateY(-.1rem);
  box-shadow: 0 .5rem 1rem rgba(black, .2);
}

.btn__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-white);
  margin-left: .5rem;
}

