@import "../abstracts/variables";
@import "../abstracts/mixins";

.social {
  list-style: none;
  display: flex;

  margin-top: -4rem;

  // Is the width smaller than 900px?
  @include respond(tab-port)  {
    margin-top: -6rem;
  }

  &__item {
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }

  &__icon {
    width: 4rem;
    fill: $color-secondary;
  }
}