/* =================================
  Social icons
==================================== */

.social {
  &__icon {
    transition: all .2s;
  }

  &__icon:hover {
    transform: translateY(-.3rem);
  }

  &__icon:active {
    transform: translateY(-.1rem);
  }
}