@import "../abstracts/variables";

/* =================================
  Reset
==================================== */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Root font size.
  // 10px / 16 = 62.5%.
  font-size: 62.5%;
  // This is 10px. Use rem units to set sizes. Example: 17px is 1.7rem.
  // We use this to define what one rem is.

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

h1 {
  font-weight: inherit;
}

a {
  color: var(--color-whitesmoke);
}