/* =================================
  Body
==================================== */

body {
  font-family: var(--font-stack-primary);
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.9rem;
}

/* =================================
  Headings
==================================== */

.heading-1 {}

.heading-2 {
  text-align: center;
  font-size: 3.2rem;
  padding: 3rem;
}

.heading-3 {
  font-size: 2.4rem;
}

/* =================================
  Text styles
==================================== */

.text {
  font-family: var(--font-stack-secondary);
}

/* =================================
  Top navigation
==================================== */

.top-nav {
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--color-white);
  }

  &__link-box {
    list-style-type: none;
  }
}

/* =================================
  Header
==================================== */

.header {
  &__icon-container {
    list-style: none;
  }
}

/* =================================
  Footer
==================================== */

.copyright {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 3rem auto 0 auto;
  text-align: center;
  width: 70%;
}
