b {
  font-weight: 900;
}

/* =================================
  Body
==================================== */

body {
  font-family: var(--font-stack);
  font-size: 1.7rem;
  color: var(--color-black);
  line-height: 1.6;
  font-weight: 400;
}

/* =================================
  Headings
==================================== */

.heading-3 {
  font-family: 'Proxima Nova Light', sans-serif;
  font-size: 2.7rem;
  color: var(--color-darkblack);
}

.heading-2 {
  font-family: 'Proxima Nova Medium', sans-serif;
  font-size: 3.6rem;
  color: var(--color-darkblue);

  &--secondary {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 2.4rem;
    color: var(--color-darkblack);
  }
}

.heading-1 {
  font-family: 'Proxima Nova Medium', sans-serif;
  font-size: 4.2rem;
  color: var(--color-darkblack);
}

/* =================================
  Text styles
==================================== */

.text-gray {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--color-darkgray);
}

.copyright {
  font-size: 1.4rem;
  color: var(--color-lightgray);
  opacity: .8;
}

/* =================================
  Anchor styles
==================================== */

// FIXME: What about visited and link classes?
.anchor {
  color: var(--color-blue);
  &--navigation {
    color: var(--color-lightgray);
    text-align: center;


    &--bold {
      color: var(--color-lightgray);
      font-weight: 600;
    }
  }
}

/* =================================
  Atomic components
==================================== */

.centered-text {
  text-align: center;
}
